{{#if error.length}}
	<div class="error">{{error}}</div>
{{/if}}
<h1 align="center" style="margin-top: 5%; color: #6D6D6C;">Create new password</h1>
<form method="post" class="cform" action="/newpassword">
	<label for="password">Password</label>
	<input type="password" name="password" id="password" placeholder="password">
	<label for="cpassword">Confirm password</label>
	<input type="password" name="cpassword" id="cpassword" placeholder="confirm password">
	<input type="submit" name="Send">
</form> 