<div class="page" id="page">
	<div class="img" id="img" onmouseover="showBtn()" onmouseout="hideBtn()">
		{{#if status.length}}
			<img src="{{profile.avatar}}" id="img" >
			<button id="ava">test</button>
		{{else}}
			<img src="{{profile.avatar}}">
		{{/if}}
	</div>
	<div class="user-info" id="user-info">
		<h3 style="float:left;">Rating: {{profile.rating}}</h3>
		{{#if profile.online}}
			<h3 style="float:right; color: #9FE7BB;">Online</h3>
		{{else}}
			<h3 style="float:right; color: #E7B39F;">Offline</h3>
		{{/if}}
		<h2>{{profile.userName}}</h2>
		<p>{{profile.firstName}} {{profile.lastName}}</p>
		<button class="show-more" onclick="showMore()" id="show" ><nobr>Show more</nobr></button>
		<div class="bio" id="bio">
			<h4>Age: {{profile.age}}</h4>
			<h4>Gender: {{profile.gender}}</h4>
			<h4>Sexual Pereferens: {{profile.sexPer}}</h4>
			<h4>Biography: </h4>
			<h5> {{profile.biography}} </h5>
			<button class="show-more" id="less" onclick="showLess()">Show less</button>
		</div>
		<div class="buttons-user">
			{{#if status.length}}
				<button>Edit</button>
				<form action="/addphotos" method="post" enctype="multipart/form-data" >
					<label for="photos"><input onchange="this.form.submit()" type="file" name="photos" id="photos" accept="image/*,image/jpeg" multiple>Load Photos</label>
				</form>
			{{else}}
				<button onclick="Like()">Like</button>
				<button>Block</button>
			{{/if}}
		</div>

	</div>
	<script type="text/javascript">
		function showBtn () {
			document.getElementById('img').style.opacity = 0.8;
			document.getElementById('ava').style.opacity = 1.0;
		}
		function hideBtn () {
			document.getElementById('img').style.opacity = 1.0;
			document.getElementById('ava').style.opacity = 0.0;
		}
		function showMore () {
			var about = document.getElementById('bio');
			var show = document.getElementById('show');
			var page = document.getElementById('page');
			var userInfo = document.getElementById('user-info');
			about.style.display = 'block';
			show.style.display = 'none';
			page.style.height = '512px';
			userInfo.style.height = '500px';
		}
		function showLess () {
			var about = document.getElementById('bio');
			var show = document.getElementById('show');
			var page = document.getElementById('page');
			var userInfo = document.getElementById('user-info');
			about.style.display = 'none';
			show.style.display = 'block';
			page.style.height = '256px';
			userInfo.style.height = '246px';
		}
	</script>
</div>
<div class="user-gallery">
	<img src="http://mirpozitiva.ru/uploads/posts/2016-09/1474011210_15.jpg">
	<img src="http://mirpozitiva.ru/uploads/posts/2016-09/1474011210_15.jpg">
	<img src="http://mirpozitiva.ru/uploads/posts/2016-09/1474011210_15.jpg">
	<img src="http://mirpozitiva.ru/uploads/posts/2016-09/1474011210_15.jpg">
	<img src="http://mirpozitiva.ru/uploads/posts/2016-09/1474011210_15.jpg">
</div>